<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/freya.jpeg" alt="freyana" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Arfan Yazeed Basandid</h1>
            <p class="lead">Sigma Boy | RekayasaPerangkatLunak</p>
        </div>
    </div>
</div>
<h1>BIODATA</h1>
<p class="lead">Nama Lengkap: Arfan Yazeed Basandid</p>
<p class="lead">Umur: 16th</p>
<p class="lead">Kelas: XI RPL 1</p>
<p class="lead">Sekolah: SMK Negeri 1 Kota Crebon</p>
<p class="lead">TTL: Cirebon 21-February-2008</p>
<p class="lead">Alamat: Gerbang Permai Pamengkang kec.Mundu jln.Anggrek 4 F6 No 6</p>